# Dependencies
node_modules

# Build output
dist
docs/.vitepress/dist
*.tgz

# Logs
*.log

# Caches
docs/.vitepress/cache
*.tsbuildinfo

# Local files (not committed)
*.local.md
*.local.ts

# Editor
.idea
.DS_Store
